:root {
  --space: 1rem;
  --bg: #19191b;
  --fg: #e3e3e3;
  --surface-1: #101012;
  --surface-2: #27272a;
  --surface-3: #52525b;
  --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}

* {
  box-sizing: border-box;
}

height,
body {
  height: 90%;
}

body {
  display: grid;
  color: var(--fg);
  background: var(--bg);
  padding: var(--space);
  min-height: 100vh;
}

body:hover > #trailer {
	opacity: 1;
}

a {
	display: flex;
}

#trailer {
	height: 20px;
	width: 20px;
	position: fixed;
	background-color: #ffffff;
	border-radius: 20px;
	left: 0px;
	top: 0px;
	z-index: 10000;
	pointer-events: none;

	opacity: 0;
	transition: opacity 500ms ease;
}

.navbar {
  display:flex;
  left: 50%;
  transform: translate(-50%);
  padding: 4px;
  position: absolute;
  text-align: center;
  margin: auto;
  width: 90%;
  background: var(--bg);
  border: solid 2px #ad64ef;
  border-radius: 10px;
}

.navbar button {
  background-color: #ad64ef;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: solid 2px #ad64ef;
  border-radius: 4px;
}

.navbar button:hover {
	opacity: 70%;
}

.dropdownbtn {
    background-color: #ad64ef;
    color: white;
    padding: 2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-items {
    display: none;
    position: absolute;
    background-color: #333333;
    z-index: 3;
}

.dropdown-items a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-items {
    display: block;
}

.content {
	text-align: center;
    position: absolute;
    background-color: #333333;
    width: 90%;
    height: 35%;
    border: solid 1px #3333;
    border-radius: 10px;
    top: 7rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}

.cards {
  padding: 5%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(var(--count, 1), 1fr);
  gap: var(--space);
  margin: auto;
  inline-size: min(var(--max, 15rem), 100%);

  @media (min-width: 45rem) {
    --count: 3;
    --max: 100%;
  }
}

.card {
  width: 100%;
  height: 95%;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: "card";
  place-items: center;
  border: 1px solid var(--surface-2);
  border-radius: 10px;
  isolation: isolate;
  box-shadow: none;
  transition: border-color 200ms var(--ease-out);
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle at bottom left,
      transparent 55%,
      var(--surface-1)
    );
    pointer-events: none;
    box-shadow: var(--bg) -0.5cqi 0.5cqi 2.5cqi inset;
    transition: opacity 900ms var(--ease-out);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    aspect-ratio: 1;
    opacity: 0;
    transition: opacity 800ms var(--ease-out);
  }

  > * {
    grid-area: card;
  }

  svg {
    position: relative;
    z-index: 1;
    width: 30%;
    height: auto;
    color: var(--surface-3);
    transition: 300ms var(--ease-out);
    transition-property: color, scale;
  }

  button {
    opacity: 0;
  }

  &:focus-within {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
  }

  &:where(:hover, :focus-within) {
    border-color: var(--active-color, var(--fg));
	box-shadow: 0 0 10px 10px var(--fg);
    transition: 800ms var(--ease-in-out);
  }

  &:where(:hover, :focus-within) svg {
    color: var(--active-color, var(--fg));
    scale: 1.1;
    transition: 300ms var(--ease-in-out);
  }

  &:where(:hover, :focus-within)::before {
    opacity: 0;
  }

  &:where(:hover, :focus-within)::after {
    opacity: 1;
  }
}

